@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    @apply bg-primaryBg;
    @apply text-primaryContent;
  }
}

@keyframes append-animate {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.new-arrow {
  animation: append-animate 0.5s ease-out;
}